<div class="article-header"> 
    <figure class="post-article-figure">
        <div class="pos-rel post-article-img-container">
            <div class="post-article-img">
                {%if page.level %}
                    {%capture img-path %}{{page.image-path | relative_url }}{{ page.image | relative_url }}{%endcapture%}
                    {% include resp-image.html name=img-path srcset=img-path alt=page.image-alt title=page.image-alt class="post-img" sizes="(min-width: 64em) 220x, (min-width: 48em) 150px, 125px"%}
                {%else%}
                <noscript><img src="{{ site.url}}/{{ site.image-path }}{{ page.images.path}}" srcset="" alt=" {{ page.images.caption }} " title="{{ latest.images.caption }}" class= "post-img"></noscript>
                <!-- <img src="{{ site.url }}/{{ site.image-path }}{{ page.images.path }}" 
                     srcset="{{ site.url }}/{{ site.image-path }}{{ page.images.path }} 410w,
                                {{ site.url }}/{{ site.image-path }}{{ page.images.path }} 690w,
                                {{ site.url }}/{{ site.image-path }}{{ page.images.path }} 1380w,
                                {{ site.url }}/{{ site.image-path }}{{ page.images.path }} 950w,
                                {{ site.url }}/{{ site.image-path }}{{ page.images.path }} 1900w,
                                {{ site.url }}/{{ site.image-path }}{{ page.images.path }} 3200w"
                     sizes ="(min-width: 64em) 1600px, (min-width: 48em) 950px, (min-width: 26.5625em) 690px, 410px" 
                     alt="{{ page.images.caption }}"
                     class= "post-img"> -->
                     {% include resp-image.html  name=page.images.path srcset=page.images.path  alt=page.images.caption class="post-img" title=page.images.caption  sizes="(min-width: 64em) 1600px, (min-width: 48em) 950px, (min-width: 26.5625em) 690px, 410px" %}
            {%endif%}
            </div>  
            <div class="img-credit">{{ page.images.credit }}</div>                                  
        </div>
        <figcaption class="post-article-img-caption">{{ page.images.caption }}</figcaption>
    </figure>
    <div class="post-article-title">
        <div class="post-article-cat">
            {% if page.post-category %}
                {{ page.post-category }}
            {% else %}
                {{ page.tags[0] }}
            {% endif %}
        </div>
        <h1>{{ page.title }}</h1>
        <div class="author-meta">
            <ul class="post-authors">
                <li>
                    <a href="" class="post-author-link">
                        <span style="font-weight: 300;">by:</span>
                        {{ page.author}}
                    </a>
                </li>
            </ul>
            <div class="datloc">
                <div class="location">
                    {{ page.location }}
                </div>
                <time class="post-pub-date" datetime="{{ page.date  | date_to_xmlschema }}" title="{{ page.date  | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>                     
            </div>
                          
        </div>
    </div>      
</div>