<div class="post-article-body">
    <div class="post-meta">
        <div class="author-meta">
            <ul class="post-authors">
                <li>
                    <div href="" class="post-author-link">
                        <span>by:</span>
                        {{ page.author }}
                    </div>
                </li>
            </ul>
            <time class="post-pub-date" datetime="" title="Mon 27 2020 22:01:58">{{ page.date | date: "%B %-d, %Y" }}</time>                                    
        </div>
        <ul class="post-tag-lists">
            <li class="tag-list_item">
                <a href="#" class="post-tag-link post-tag-area">Abba</a>
            </li>
        </ul>
    </div>
    <div class="post-content">
        <p>{{content}}</p>
    </div>
    <div class="post-message">
        <p class="hello">
        </p>
    </div>
</div>