<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/flickity.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Vendor/flickity.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Vendor/fullscreen.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Vendor/font-awesome.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Vendor/venobox.min.css">
{% if site.google_fonts %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={%- for font in site.google_fonts -%}{{ font.name | replace: ' ', '+' }}{% if font.weights %}:{% endif %}{{ font.weights | remove: ' ' }}{% if forloop.last != true %}|{% endif %}{%- endfor -%}">
{% endif %}