<article id="article-container" class="module-row feature-module-row feature-module-list" data-page="{{ currentPage }}" data-totalPages="{{ paginator.total_pages }}" data-pageurl="{{ page.url | prepend: site.baseurl  | remove: "/index.html"}}">
    {% for feature in paginator.posts %}
    <div class="feature-module module inner-feature-module-list">
        <div class="min-module-row">
        <div class="module_img module__visual">
            <a href="{{ feature.url | relative_url }}" class="image-link">
                <span class="sr-only"> {{ feature.title }}A short message that displays module title</span> 
                {% assign img = feature.images.path | relative_url %}
                <noscript><img src="{{ site.image-path }}{{ feature.images.path | relative_url }}" alt=" {{ feature.images.caption }} " title="{{ feature.images.caption }}" class="module_image feature-img" ></noscript>
                <!-- <img class="module_image feature-img" 
                     
                     src="{{site.image-path | relative_url }}{{img | relative_url }}"
                     data-src="{{ site.image-path }}{{ img | relative_url }}" 
                     data-srcset=" {{ site.image-path }}{{ img | relative_url }} 125w,
                                    {{ site.image-path }}{{ img | relative_url }} 150w,
                                    {{ site.image-path }}{{ img | relative_url }} 250w,
                                    {{ site.image-path }}{{ img | relative_url }} 300vw,
                                    {{ site.image-path }}{{ img | relative_url }} 400vw"
                     sizes="(min-width: 64em) 220x, (min-width: 48em) 150px, 125px" 
                     alt=" {{ feature.images.caption }} "> --> 
                     {% include resp-image.html type="data-src" name=img data-srcset=img data-expand="-90" alt=feature.images.caption title=feature.images.caption class="lazyload blur-up module_image feature-img" sizes="(min-width: 64em) 220x, (min-width: 48em) 150px, 125px"%}
                <div class="overlay"></div>
            </a>
            <a href="#" class="type">{{ feature.tag[0] }}</a>
        </div>
        <div class="article-details module__article-details">
            <div class="article-context meta-details"> <span>{{ feature.tags[0] }}</span></div>
            <a href="{{ feature.url | relative_url }}" class="title-link module__title-link">
                <h2 class="module__title">
                    {{  feature.title }}
                </h2>
            </a>
            <div class="module__meta meta">
                <div class="bylne module__byline">
                    <ul class="authors module__authors">
                        <li><span class="display-name">
                            by: {{ feature.author }}
                        </span></li>
                    </ul>
                </div>
                <p class="date feature-module__date">
                    <time class="pub-date" datetime="{{ feature.date | date_to_xmlschema }}" title="">
                        {{ feature.date | date: "%B %-d, %Y" }}
                    </time>
                </p>
            </div>
        </div>
        </div>
        <div class="highlight"></div>
    </div>
    {% endfor %}                                                            
</article>