{% for feature in site.feature-cover  %}
    {% if forloop.last %}
        <div class="feature-hero module">
            <div class="feature-image image module__visual">
                <a href="{{ site.baseurl }}{{ feature.url }}" class="image-link">
                    <img src="{{ site.baseurl}}/{{ feature.image-thumb-path}}/{{ feature.image }}" alt="{{ feature.image-alt }}" class="module__img">
                    <div class="overlay"></div>
                </a>
                <a href="#" class="feature-type type">{{ feature.type }}</a>
            </div>
            <div class="feature-article-details module__article-details">
                <a href="{{ site.baseurl }}{{ feature.url }}" class="title-link">
                    <h2 class="feature-title module__title">
                        {{ feature.title }}
                    </h2>
                </a>
                <div class="feature-meta module__meta">
                    <div class="abstract module__abstract">
                        <p> {{ feature.post-meta }} </p>
                    </div>
                    <div class="byline module__byline">
                        <ul class="authors module__authors">
                            <li><span class="display-name">by: {{ feature.author }} / </span></li>
                        </ul>
                        <time class="pub-date module_pub-date" datetime=" {{ feature.pub-date }} " title="">
                            {{ feature.pub-date }}
                        </time>
                    </div>
                </div>
            </div>
        </div>    
    {% endif %}
{% endfor %}