<article id="article-container" class="module-row feature-module-row feature-module-list" data-page="{{ currentPage }}" data-totalPages="{{ paginator.total_pages }}" data-pageurl="{{ page.url | remove: "/index.html"}}">
    {% for feature in paginator.posts %}
    {% if feature.level == "non-cover" %}
    <div class="feature-module module inner-feature-module-list">
        <div class="min-module-row">
        <div class="module_img module__visual">
            <a href="{{ site.baseurl }}{{ feature.url }}" class="image-link">
                <span class="sr-only"> {{ feature.title }}A short message that displays module title</span>
                <img class="module_image"  src="{{ site.baseurl}}/{{ feature.image-thumb-path}}/{{ feature.image }}" alt=" {{ feature.image-alt }} ">
                <div class="overlay"></div>
            </a>
            <a href="#" class="type">{{ feature.type }}</a>
        </div>
        <div class="article-details module__article-details">
            <a href="{{ site.baseurl }}{{ feature.url }}" class="title-link module__title-link">
                <h2 class="module__title">
                    {{  feature.title }}
                </h2>
            </a>
            <div class="module__meta meta">
                <div class="bylne module__byline">
                    <ul class="authors module__authors">
                        <li><span class="display-name">
                            by: {{ feature.author }}
                        </span></li>
                    </ul>
                </div>
                <p class="date feature-module__date">
                    <time class="pub-date" datetime="{{ feature.pub-date }}" title="">
                        {{ feature.pub-date }}
                    </time>
                </p>
            </div>
        </div>
        </div>
        <div class="highlight"></div>
    </div>
    {% endif %}
    {% endfor %}                                                            
</article>