<div class="more-news">

    <div id="article-container" class="article-inner-container" data-page="{{ currentPage }}" data-totalPages="{{ paginator.total_pages }}" data-pageurl="{{ page.url | prepend: site.baseurl | remove: "/index.html"}}">
        {% for latest in site.posts limit: 10 offset: offset %}
           {% if page.url != latest.url %}
            <article id="blog-article" class="article-details context-list article-summary" data-url="{{ latest.url | xml_escape }}">
                <div class="sub-article-details context-list">
                    <a href="{{ latest.url | relative_url }}" class="article-link">
                        <figure class="article-figure size-medium">
                            <div class=" visible pb-cent article-img-box">
                                {% include resp-image.html type="data-src" name=latest.images.path data-srcset=latest.images.path data-expand="-90" alt=latest.images.caption title=latest.images.caption class="lazyload blur-up latest-img" sizes="(min-width: 64em) 220x, (min-width: 48em) 150px, 125px"%}
                            </div>
                        </figure>
                        <div class="article-meta local">
                            <div class="article-context meta-details">
                                <span>{{ latest.tags[0] }}</span>
                                <address class="feed_item-author">
                                    {% if latest.author  %}
                                        <span class="article-spacer">|</span>
                                        <div class="author">
                                            By {{ latest.author }}                                                      
                                        </div>
                                    {% endif %}
                                </address>
                            </div>
                            <h3>{{ latest.title }}</h3>
                            <div class="site-name"><span>{{ latest.publisher }}</span></div>
                            <div class="article-info">
                                <div class="author">By {{ latest.author }}</div>
                                <div class="cat">
                                    <span>{{ latest.category}}</span>
                                    <time datetime="{{ latest.date }}" class="date">{{ latest.date | timeago }}</time>
                                </div> 
                            </div>

                        </div>
                    </a>
                </div>
            </article>
            {% endif %}
            {% endfor %}
        </div>  
</div>