
{% assign RELATED_POSTS_THRESHOLD = 3 %}

<ul>
    {% assign related_post_count = 0 %}
    {% for post in site.posts %}
        {% if related_post_count ==  RELATED_POSTS_THRESHOLD %}
            {% break %}
        {% endif %}
        {% if post.url != page.url %}
            {% for tag in post.tags %}
                
                {% if page.tags contains tag %}
                <li>
                    {{tag}}
                    <h3>
                    <a href="{{ site.url }}{{ post.url }}">
                        {{ post.title }}
                        <small>{{ post.date | date_to_string }}</small>
                    </a>
                    </h3>
                </li>

                {% assign related_post_count = related_post_count | plus: 1 %}
                {% break %}
                {% endif %}
            {% endfor %}            
        {% endif %}
    {% endfor %}

    {% assign posts_left = RELATED_POSTS_THRESHOLD | minus: related_post_count %}
    {% unless posts_left== 0 %}
        {% for post in site.posts %}
            {% if posts_left == 0 %}
                {% break %}
            {% endif %}

            {% assign already_related = false %}

            {% for tag in post.tags %}
                {% if page.tags contains tag %}
                    {% assign already_related = false %}
                    {% break %}
                {% endif %}
            {% endfor %}
            {% unless already_related %}
                {% assign posts_left = posts_left | minus: 1 %}
                    <li>
                        <h3>
                        <a href="{{ site.url }}{{ post.url }}">
                            {{ post.title }}
                            <small>{{ post.date | date_to_string }}</small>
                        </a>
                        </h3>
                    </li>
            {%endunless%}
        {% endfor %}

    {% endunless %}
</ul>