<div class="second-tier module-row">
    <div class="feature-module module module-with-abstract">
        <div class="module_img module__visual">
            <a href="#" class="image-link">
                <span class="sr-only">A short message that displays module title</span>
                <img class="module_image"  src="../assets/images/feature-modules/drill-wide-still.jpg" alt="">
                <div class="overlay"></div>
            </a>
            <a href="#" class="type">Rising</a>
        </div>
        <div class="article-details module__article-details">
            <a href="#" class="title-link module__title-link">
                <h2 class="module__title">
                    Talking beyond Buzz Words
                </h2>
            </a>
            <div class="abstract module__abstract">
                <p>The race against time when we cant stop and we find ourselves running through the red lights</p>
            </div>
            <div class="module__meta meta">
                <div class="bylne module__byline">
                    <ul class="authors module__authors">
                        <li><span class="display-name">
                            by: Oluchi Gramesz /
                        </span></li>
                    </ul>
                </div>
                <p class="date feature-module__date">
                    <time class="pub-date" datetime="" title="">
                        january 15 2020
                    </time>
                </p>
            </div>
        </div>
        <div class="module__highlights"></div>
    </div>

    {% for feature in site.categories.Feature %}
    <div class="feature-module module module-with-abstract">
        <div class="module_img module__visual">
            <a href="{{ site.url}}{{ feature.url }}" class="image-link">
                <span class="sr-only">A short message that displays module title</span>
                <img class="module_image"  src="../assets/images/feature-modules/pitchforkpplheader.jpg" alt="">
                <div class="overlay"></div>
            </a>
            <a href="#" class="type">Rising</a>
        </div>
        <div class="article-details module__article-details">
            <a href="{{ site.url}}{{ feature.url }}" class="title-link module__title-link">
                <h2 class="module__title">
                    Talking beyond Buzz Words
                </h2>
            </a>
            <div class="abstract module__abstract">
                <p>The race against time when we cant stop and we find ourselves running through the red lights</p>
            </div>
            <div class="module__meta meta">
                <div class="bylne module__byline">
                    <ul class="authors module__authors">
                        <li><span class="display-name">
                            by: Oluchi Gramesz /
                        </span></li>
                    </ul>
                </div>
                <p class="date feature-module__date">
                    <time class="pub-date" datetime="" title="">
                        january 15 2020
                    </time>
                </p>
            </div>
        </div>
        <div class="module__highlights"></div>
    </div>

    {% endfor %}

    <div class="feature-module module module-with-abstract">
        <div class="module_img module__visual">
            <a href="#" class="image-link">
                <span class="sr-only">A short message that displays module title</span>
                <img class="module_image"  src="../assets/images/feature-modules/Music-Festival-Wristbands.jpg" alt="">
                <div class="overlay"></div>
            </a>
            <a href="#" class="type">Rising</a>
        </div>
        <div class="article-details module__article-details">
            <a href="#" class="title-link module__title-link">
                <h2 class="module__title">
                    Talking beyond Buzz Words
                </h2>
            </a>
            <div class="abstract module__abstract">
                <p>The race against time when we cant stop and we find ourselves running through the red lights</p>
            </div>
            <div class="module__meta meta">
                <div class="bylne module__byline">
                    <ul class="authors module__authors">
                        <li><span class="display-name">
                            by: Oluchi Gramesz /
                        </span></li>
                    </ul>
                </div>
                <p class="date feature-module__date">
                    <time class="pub-date" datetime="" title="">
                        january 15 2020
                    </time>
                </p>
            </div>
        </div>
        <div class="module__highlights"></div>
    </div>



</div>