.related-posts{
    margin: 10em auto 5em;
    // background: lightblue;
    max-width: 992px;
    padding: 0 1rem 0;

   & .divider-title{
        margin: 20px 0;
        display: flex;
        align-items: center;
        font-weight: bold;

        @media (min-width){
            margin: 75px 0 1.8rem;
        }

        & .divider{
            flex: 1;
            height: 3px;
            background: #444444;
        }

        & h2 {
            font-family: "IBM Plex Mono", monospace;
            font-size: 30px;
            margin: 0 20px;
        }
   }

   & .container-fluid .feature-module-list{
       justify-content: center;
       @media screen and (min-width: 500px){
            flex-wrap: nowrap;
        }
       @media (min-width: 992px){
           .feature-module.module.inner-feature-module-list {
                width: 33.3333%;
            }
        }
    }

}
.related-module-row{
    @media screen and (min-width: 570px) and (max-width: 750px){
        margin: 0 20px;
    }
}

.feature-module.module.inner-feature-module-list.related-module{
    & .relative-module-row{
        & .module_img{
            @media (max-width: 500px){
                max-height: 120px;
                min-width: 120px;
                width: 100px;
            }
        }
        & .article-details.module__article-details{
            @media (max-width: 500px){
                padding: 0;
                margin-left: .5em;

                & .article-context.meta-details{
                    margin-top: unset;
                }

                & .module__title-link h2.module__title{
                    font-size: .75rem;
                    font-weight: 700;
                }
            }
        }        
    }
}