.gallery-dtl{
    position: fixed;
    z-index: 550;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.98);
    display: flex;
    align-items: center;
    justify-content: center;


    & .close-btn{
        border: 0;
        background: none;
        padding: 0;
        display: inline-block;
        padding: .5rem;
        z-index: 1;
    }

    @media only screen and (max-width: 750px){
        display: none;
    }
}
.gallery__close-btn {
    position: absolute;
    z-index: 20;
    top: 1.5rem;
    right: 1.5rem;

    & svg {
        width: 2.5rem;
        height: 2.5rem;

        & path {
            fill: #b3b3b3 !important;
        }
    }
}
.gallery-dtl__container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;

    & .gallery-dtl__title {
        color: #f7f7f7;
        font-family: Tiempos Headline,Tiempos,Georgia,serif;
        font-size: 2.4rem;
        line-height: 1.5;
        padding: 10px 0;
        text-align: center;
    }
}

.gallery-dtl__row {
    display: flex;
    flex: 1 1 auto;

    @media only screen and (min-width: 992px){
       max-height: 650px; 
    }
    @media only screen and (max-width: 992px){
        flex-direction: column;
    }
    
}
.gallery-dtl__img-window {
    float: left;
    max-width: 900px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    // background-color: grey;

    @media only screen and (max-width: 991px) and (min-width: 768px){
        // flex: 1 1 auto;
    }

}
.gallery-dtl__btn--fs {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
    border: 0;
    background: none;
    padding: 0;

    & svg path {
        -webkit-transition: all .15s;
        transition: all .15s;
    }
}

.gallery-dtl__btn--fs-outline {
    fill: #1a1a1a;
}
.gallery-dtl__arrow {
    position: absolute;
    display: block;
    top: 20%;
    height: 60%;
    bottom: 0;
    z-index: 15;
    width: 10%;
    border: 0;
    background: none;
    padding: 0;

    svg {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
.gallery-dtl__arrow--disabled {
    cursor: default;
    opacity: .4;
    pointer-events: none;
}
.gallery-dtl__arrow--prev {
    padding-left: 20px;
    left: 20px;

    & svg {
        left: 20px;
    }
}
.gallery-dtl__arrow--next {
    text-align: right;
    padding-right: 20px;
    right: 20px;

    & svg {
        right: 20px;
    }
}
.gallery-dtl__arrow-inner {
    -webkit-transition: all .15s;
    transition: all .15s;
}

.gallery-dtl__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: no-repeat 50%;
    background-size: cover;
    z-index: 1;
    // opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.gallery-dtl__info-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #1a1a1a;
    

    @media only screen and (max-width: 992px) and (min-width: 768px){
        flex-direction: row;
        height: 251px;
    }


    @media only screen and (min-width: 992px){
         width: 301px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.gallery-dtl__info {
    padding: 0 40px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: auto;
}
.gallery-dtl__meta {
    color: #5e5e5e;
    margin-top: 40px;
}
.gallery-dtl__count {
    color: gray;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 20px;
}
.gallery-dtl__img-title {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #fff;
}
.gallery-dtl__credit {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .075em;
    font-weight: 600;
    color: gray;
}
.gallery-dtl .gallery-ad {
    padding-left: 1px;
}



.gallery-dtl__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: no-repeat 50%;
    background-size: cover;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.gallery-dtl__img-list{
    width: 100%;
}

.gallery-dtl__img--portrait {
    background-size: contain; 
}
.gallery-dtl__img--active {
    opacity: 1;
    display: block;
    z-index: 2;
}

.share-module.share-module--horizontal {
    width: 13.8rem;
    margin: 2rem auto;
    position: relative;
}
.gallery_dtl--module{
    & .share-module__primary li{
        @media only screen and (min-width: 750px){
          float: left;  
        } 
    }
    & .share-module__primary{
        li{
            @media only screen and (min-width: 750px){
               margin: 0 .5rem 0 0; 
            }  
        }
    }

    & .share-module__drawer {
        @media only screen and (min-width: 750px){
            position: absolute;
            top: .4rem;
            left: 9.8rem;
            width: 20rem;            
        }

    }
}
// #modal-portal{
//     display: none;
// }

.main-carousel{
    width: 100%;
}
.gallery-dtl__img-list{
    position: relative;
    // background: white;
}
.gallery-dtl__img:hover .info-doc{
    transform: translateY(0%);
}
.info-doc{
    background: rgba($color: white, $alpha: 1.0);
    // opacity: .5;
    position: absolute;
    bottom: -15px;
    left: 7em;
    width: 75%;
    margin: 0 auto;
    height: 6em;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: #5e5e5e;
    transform: translateY(300%);

    transition: transform   .575s;

}
.picture-label{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    // color: white;
    margin-bottom: 5px;
}
.info-doc .author-name{
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-weight: 600;
    // color: white;

    & span{
        font-size: 12px;
    }
}
.gallery-dtl__row{
    position: relative;
}

.open-gally{
    display: block;
    visibility: visible;
}
