header{
    border-bottom: 1px solid $background-border-decor--lite;
    @include border(1px, solid, #{$background-border-decor-string}, -bottom);
    // overflow: hidden;
    position: relative;
    width: 100%;
    height: 4em;
    background: $background-nav--lite;
    @include bg-color(#{$background-nav-string});
    padding-top: 1em;
    transition: background-color .75s;
    z-index: 199;
    @media #{$lg-scn} {
        padding-top: .1em;
        height: 6em;
    }
    @media (max-width: 1039px){
        position: fixed;
    }

    .hide{
        transform: translateX(-100%);
    }
}
.navigation{
    width: 100%;
}
.nav-wrapper{
    @media #{$lg-scn} {
        margin: 0 25px;
    }
}
.nav-masthead{
   margin: 0 20px;
   @media #{$lg-scn} {
    margin: 0 25px;
}
}
.upper-nav{
    display: flex;
    justify-content: space-between;
    height: 5em;
    z-index: 500;
    @media #{$lg-scn} {
        height: 3em;
        margin: .5em 25px;
        max-width: 11500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    & .top-nav-list-item:first-of-type{
        position: static;
    }
}

.logo{
    position: absolute;
    left: 47%;
    top: 50%;
    transform: translate(-49%, -50%);
    z-index: 400;
    cursor: pointer;
    @media #{$lg-scn}{
        all: unset;
        cursor: pointer;
    }
}
.logo--small{
    // display: block;
    @media #{lg-scn}{
        display: none;
    }
}
.logo--lg{
    display: none;
    @media #{$lg-scn}{
        display: block;
    }
}
.logo-cell{
    width: 284.023px !important;
    height: 25.242px !important;
    @media #{$lg-scn} {
        height: 30.242px !important;
        width: 484.023 !important;
    }
    .logo-path{
        @include fill(#{$color-typo-string});
        // font-size: 2rem !important;
    }    
}
.logo-cell.logo--small{
    width: unset !important;
    height: unset !important;
    @media #{$lg-scn}{
        display: none;
    }
}
.menulist{
    display: none;
    @media #{$lg-scn} {
        display: flex;
    }
}
.lower-nav{
    justify-content: space-evenly;
    // margin-top: 1.5em;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    position: relative;
   
   & .nav-link{
        color: $color-nav-link;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;
        &:hover{
            color: $color-nav--link--dark;
        }
    }

    & .list-item{
        margin: 0 5px 0 0;
    }
}

.darkmode .nav-link:hover{
    color: $color-nav-link-faint;
}

.nav-wrapper .nav-container{
        // display: none;
        @include bg-color(#{$background-nav-string});
        transition: transform .3s;
        backface-visibility: hidden;
        padding-top: 2em;
        width: 100%;

        @media #{$lg-scn--dn} {
            display: none;
        }
        @media (max-width: 1039px){
            display: none;
        }
    
}
.nav-container.nav-container--standard.nav-container--fixed {
    margin-top: -.5em;
    @include border(1px, solid, #{$background-border-decor-string}, -bottom);
}
.nav-container--fixed{
    position: fixed;
    z-index: 50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} 
.nav-container{
    width: 100%;
    top: 0;
    left: 0;
}
.primary-nav{
    position: relative;
    text-align: center;
    margin:  0 25px;
    & .primary-nav-list{
        display: flex;
        // justify-content: center;
        align-items: center;

        & .list-item{
            margin-right: 2em;
        }
    }

}
.nav-container__logo{
    position: absolute;
    top: -55%;
    left: 50%;
    transform: translate(-50%,50%);
}
.nav-container--hidden{
    transform: translateY(-100%);
    box-shadow: none;
    visibility: hidden;
}
.primary-subscribe-cell{
    margin: auto;
}


//repairs
.menu-button .ham-menu{
    // @media #{$md-scn--dn}{
    //     display: none;
    // }
    @media (max-width: 767px){
        display: none;
    }  
}
