article{
    transform: inherit;
    // margin: 0 -10px;
    // position: relative;
    // z-index: 500;
    // background: white;
}
.article-header{
    display: flex;
    flex-direction: column-reverse;
    margin: 35px auto 25px;

    @media #{$md-scn--up}{
        margin: 50px auto 30px;
        align-items: center;
    }
    @media #{$lg-scn--up}{
        margin: 50px auto 20px;
        max-width: none;
    } 

    figure{
        max-width: 1200px;
        margin: 25px 20px 0;
        align-self: stretch;
        @media #{$md-scn--up}{
            margin: 40px 40px 20px;
        }
        @media #{$lg-scn--up}{
            max-width: 1600px;
            margin-top: 50px;
            margin-bottom: 0;
            align-self: stretch;
        }.pos-rel{
            z-index: 100;
        }
        & .post-article-img-container{
            padding-bottom: 56.341463414634342%;
            position: relative;
        }
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 1;
            transition: opacity .3s;
        }

        .img-credit{
            position: absolute;
            transform: rotate(-90deg) translate(100%);
            transform-origin: bottom right;
            font-size: .45rem;
            text-transform: uppercase;
            right: -15px;
            bottom: 0;
            @media #{$md-scn--up}{
                font-size: .625rem;
            }
        }

        figcaption{
            position: relative;
            text-align: left;
            padding-top: 5px;
            font-size: 10px;
            // color: $color-typo-faint;
        }
    }
}
.post-article-title{
    max-width: 1150px;
    margin: 0 20px;
    @media #{$md-scn--up}{
        margin: 0 40px;
        
    }
    @media #{$lg-scn--up}{
        margin: 0 40px;
        margin-left: -140px;
        
    }
    @media #{$xlg-scn--up}{
        margin: 0 90px;
    } 
    @media (min-width: 1230px){
        // margin: auto;
    }           
    .author-meta{
        display: none;
        flex-flow: row;
        @media #{$md-scn--up}{
            display: flex;
            flex-flow: column !important;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .post-authors{
            font-size: 1.1rem; 
            text-transform: uppercase;
            letter-spacing: .075em;
            font-weight: 600;
            margin: 0;
     
            li{
                display: inline;

            }
         }
         .datloc{
             display: flex;
             flex-flow: row;
             position: relative;
         }
         .location{
             margin-right: 1em;
            &::after{
                content: '.';
                margin: 0 5px;
                font-size: 40px;
                position: absolute;
                top: -.74em;
            }
         }
         .post-pub-date{
             font-size: .95rem;
             text-transform: uppercase;
             letter-spacing: 0.06rem;
             font-weight: 600;
             margin-left: .5em;
             font-family: sans-serif;
         }
    }

    .post-article-cat{
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.05;
        font-size: 11px;
        hyphens: auto;
        margin: 3px;
        color: $color-accent;
        text-align: left;
        @media #{$md-scn--up}{
            font-size: 12px;
        }
        @media #{$lg-scn--up}{
            font-size: 20px;
        }            
    }
    h1{
        font-size: 25px;
        font-weight: 800;
        line-height: 1.12;
        // margin: 10px auto;
        text-align: left;
        max-width: 500px;

        @media (min-width: 470px){
            font-size: 32px;
        }
        @media #{$md-scn--up}{
            font-size: 40px;
            max-width: none;
        }
        @media #{$lg-scn--up}{
            font-size: 60px;
            max-width: none;
            margin: 15px auto;
        } 
    }
}
.post-author-link{
    font-weight: 800;

    span{
        font-weight: 300;
    }
}
//ARTICLE BODY

.post-article-body{
    margin-right: 20px;
    margin-left: 20px;
    max-width: 1600px;

    @media #{$md-scn--up}{
        text-align: center;
        margin-bottom: 20px;
    }
    @media #{$lg-scn--up}{
        // font-size: 100px;
    } 
}
.post-meta{
    position: relative;
    padding: 0px 0px 20px;
    @media #{$md-scn--up}{
        // font-size: 100px;
        display: none;
    } 
    .post-authors{
       font-size: .71rem; 
       text-transform: uppercase;
       letter-spacing: .075em;
       font-weight: 600;
       margin: 0;

       li{
           display: inline;
       }
    }
    .post-pub-date{
        font-size: .55rem;
        text-transform: uppercase;
        letter-spacing: 0.06rem;
        font-weight: 600;

        &::before{
            content: '/';
            margin: 0 5px;
        }
    }
}
.author-meta{
    display: flex;
    align-items: center;
    @media #{$md-scn--up}{
        justify-content: center;
        flex-flow: column;
    }
    @media #{$lg-scn--up}{
        // font-size: 100px;
    } 
}
.post-tag-lists{
    font-size: .71rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: .7em;
    li{
        display: inline-block;

        &:last-child{
            margin-bottom: 0;
            &::after{
                content: " ";
                margin: 0;
            }
        }
        &::after{
            content: " /";
            color: $color-accent;
            margin: 0 .8rem 0 .5rem;
        }
    }
}
.post-article-body{
    @media #{$md-scn--up}{
        font-size: 1.25rem;
        text-align: left !important;
        max-width: 620px;
    } 
    @media #{$lg-scn--up}{
        max-width: 920px;
        // text-align: left !important;
    } 
}
.post-article-body{
    
    @media #{$md-scn--up}{
        // margin: 0 auto;
        margin: 0 40px;
        margin: 0 auto;
    }
    @media #{$lg-scn--up}{
        // font-size: 100px;
        display: flex;
        justify-content: space-between;
    }
    @media #{$xlg-scn--up}{
        margin: 0 90px;
        // margin: 0 180px;
        max-width: 1000px;
    } 
    @media (min-width: 1230px){
        margin: auto;
    }                   
}
.post-content{
    // justify-self: flex-end;
    p{
        font-size: 1.125rem;
        line-height: 1.5;
        margin-bottom: 30px;
    }
    @media #{$lg-scn--up}{
        font-size: 1.325rem;
        line-height: 1.6;
    }
    font-size: 1.125rem;
    margin: 0 auto;
    text-align: left !important;
    // padding: 0 10px;
    @media #{$md-scn--up}{
        font-size: 1.25rem;
        text-align: left !important;
        max-width: 650px;
    } 
    @media #{$lg-scn--up}{
        max-width: 520px;
        margin: 0 40px ;
        // text-align: left !important;
    } 
    @media #{$xlg-scn--up}{
        max-width: 640px;
        margin: unset;
        // text-align: left !important;
    }

    p > img{
        width: 100%;
        height: auto;
    } 
    h3{
        margin-bottom: 1em;
    }
}
.post-message{
    display: none;
    max-width: 300px;
    margin-left: 1em;
    margin-top: 2em;
    padding-left: 50px;
    @media #{$lg-scn--up}{
        // width: 520px;
        display: block;
        // text-align: left !important;
    } 
    @media #{$xlg-scn--up}{
        width: 520px;
        display: block;
        flex-grow: 1 ;
        // text-align: left !important;
    } 
}
.post-container{
    max-width: 1600px;
    margin: 0 auto;
}
.article-footer-container{
    @media (min-width: 48em){
        // margin: 0 40px;
        max-width: 550px;
    }
    @media (min-width: 65em){
        margin: 0 40px;
        margin: 0 80px;
    }
    @media (min-width: 1230px){
        max-width: 650px;
        margin: 0;
    }
}
.post-article-footer{
    margin: 0 20px;
    // display: flex;
    @media #{$md-scn--up}{
        margin: 0 auto;
        max-width: 620px;
    }
    @media #{$lg-scn--up}{
        margin: 0 40px;
        // font-size: 100px;
        // display: flex;
        // justify-content: space-between;
    }
    @media #{$xlg-scn--up}{
        padding: 2em 0;
        margin: 0 90px;
        margin-top: 5em;
        // margin: 0 180px;
        max-width: 1000px;
    } 
    @media (min-width: 1230px){
        margin-top: 5em;
        margin: auto;
        // max-width: 700px;
        // margin: 0 180px;
    }
}
.post-footer{
    display: flex;
    flex-flow: column;
    margin: 45px 0 25px;
    @media (min-width: 28em){
       flex-flow: row; 
       justify-content: space-between;
    }
    @media (min-width: 48em){
        // margin: 0 40px;
        max-width: 550px;
    }
    @media (min-width: 65em){
        margin: 0;
        max-width: 640px;
    }
}
.post-footer-titles{
    font-size: 1.21rem;
    text-transform: uppercase;
    margin-bottom: 0;
}
.post-tags{
    font-size: 10px;
    
    ul{
        li > a{
            text-decoration: underline;
            color: $color-accent;
            margin-right: .5em;
            font-size: .799rem;
            font-weight: 800;
            background: var(--clr-bg-card);
            padding: .2em .5em;
            letter-spacing: 1px;
        }
        li > a:hover{
            color: inherit;
        }
        // li > a::after{
        //     content: ' | ';
        // }
        // li > a:last-of-type::after{
        //     content: '';
        // }
    }
}
.post-article-social{
    ul{
        display: flex;
        margin-top: 1em;
        margin-left: -.5em;
        // margin-bottom: 5em;
        @media (min-width: 35em){
            margin-top: unset;
            margin: 0;
        }
        li{
            margin: 0 5px;
            position: relative;
            
            i{
                background: $color-typo-faint;
                padding: .5em;
                border-radius: 50%;
                // box-shadow:    1rem 1rem 2rem rgba(0, 0, 0, .2),
                // -1rem -1rem 2rem rgba(255, 255, 255, .7);

               @media #{$md-scn--up}{
                   padding: 1em;
               } 
               &:hover,
               &:focus{
                    // box-shadow: inset  1rem 1rem 2rem rgba(0, 0, 0, .3),
                    //             inset -1rem -1rem 2rem rgba(255, 255, 255, .5);
                    // outline-color: dimgray;
                    border-right: 1px solid $color-accent ;
                    
                }

                & svg > path{
                    fill: black !important;
                }
            }
       }

    }
}
.tag-article-feed .article-footer--related{
    display: block;
}
.article-footer--related{
    @include border( 1px, solid, #{$background-border-decor-string}, -top);
    margin-top: 1em;
    max-width: 1800px;
    padding: 2em 0;
    display: none;
    @media (min-width: 48em){
        display: block;
        max-width: 950px;
        margin: 0 auto;
    }
}
.article-feed{
    max-width: 1000px;
    margin: 0 20px;
    @media (min-width: 48em){
        max-width: 950px;
    }
    @media (min-width: 768px){
        margin: 0 40px;
    }
    @media (min-width: 65em){
        margin: 0 auto; 
    }
    @media (min-width: 1230px){
        max-width: 1200px;
        // margin: 0 190px;
    }
}

.post-article-content{
    margin-top: -1.75em;
}
.post-social:hover{
    color: unset;
    opacity: .7;
}
// .page-title{
//     font-family: "Alegreya";
//     font-size: 50px !important;
//     margin: 30px 0 ;
//     @include border( 1px, solid, #{$background-border-decor-string}, -bottom);
  
//     h1{
//         font-size: 50px;
//     }

//     // @media (min-width: 48em){
//     //     // margin: 0 40px;
//     //     max-width: 550px;
//     // }
//     // @media (min-width: 768px){
//     //     margin: 0 40px
//     // }
//     // @media (min-width: 65em){
//     //     margin: 0 40px;
//     //     margin: 0 90px;
//     // }
// }

.pager{
    display: flex;
    justify-content: space-around;

    & li{
        font-weight: bold;
    }
}