---
layout: compress    
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
   <div id="main">
        {% if page.url == 'index' %}
            {%include nav.html %}
        {%else%}
            <div class="div-wrapper">
                {% include nav.html %}   
        </div>
        {%endif%}           

        
        <main id="site-content">
            <div class="homepage">
                {{ content }}
            </div>
        </main>
        {% if page.url contains "gallery" %}
            <!-- Gallery Modal -->
            {% include gallery/modal.html %}
        {% endif %}

        {% include footer.html %}
    </div>        
    {% include mobi-footer.html %}
    {% include scripts.html %}
</body>
</html>