---
layout: default
---
<div class="inner-site-container">
{% include page-header.html %}

    <div class="features-type feature-page">
        <div class="container-block">
            <div class="container-clear-fix">
                <div class="feature-page-fragments">
                    <div class="container-fluid">
                        <div class="module-row feature-module-row">
                            <div class="feature-hero-module-container">
                                {% include feature-hero.html %}
                            </div>                                            
                        </div>
                    </div>
                    <div class="third-tier compact-list">
                        <div class="infinite-container">
                            <div class="clerarfix">
                                <div class="features-fragment">
                                    <div class="container-fluid">

                                        {% if paginator.page %}
                                            {% assign offset = paginator.page | minus:1 | times:paginator.per_page %}
                                            {% assign currentPage = paginator.page %}
                                        {% else %}
                                            {% assign offset = 0 %}
                                            {% assign currentPage = 1 %}
                                        {% endif %}
                                        {% include feature-article.html %}
                                        {% include loadmore.html %} 
                                    </div>
                                </div>
                            </div>
                            <div class="scroll-boundary"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    

