---
layout: compress
title: Features
---


<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
   <div id="main">
       <div class="div-wrapper">
        {% include nav.html %}   
       </div>

       <main id="site-content">
            <div class="homepage">
                <div class="inner-site-container">
                    <header class="page-feature-header">
                        <div class="page-feature--bg page-feature--bg-art">
                            <div class="page-feature-header--details container container-fluid">
                                <div class="page-feature--title-block">
                                    <a href="#" class="page-feature--title">
                                        <h1 class="styled-header">FEATURED</h1>
                                    </a>
                                    <p class="page-feature--sub-title">Stories the take a comprehensive look at what defines our history today</p>
                                </div>
                            </div>
                        </div>
                    </header>

                    <div class="features-type feature-page">
                        <div class="container-block">
                            <div class="container-clear-fix">
                                <div class="feature-page-fragments">
                                    <div class="container-fluid">
                                        <div class="feature-hero-module-container">
                                            <div class="feature-hero module">
                                                <div class="feature-image image module__visual">
                                                    <a href="#" class="image-link">
                                                        <img src="../assets/images/feature-modules/1Trance.jpg" alt="" class="module__img">
                                                        <div class="overlay"></div>
                                                    </a>
                                                    <a href="#" class="feature-type type">Investigative</a>
                                                </div>
                                                <div class="feature-article-details module__article-details">
                                                    <a href="#" class="title-link">
                                                        <h2 class="feature-title module__title">
                                                            How the great Isu kingdom was broken into villages
                                                        </h2>
                                                    </a>
                                                    <div class="feature-meta module__meta">
                                                        <div class="abstract module__abstract">
                                                            <p>More than a year before the rapper’s death, the woman at the center of his domestic battery case granted a rare interview for a documentary about his life. Will the footage ever see the light of day?</p>
                                                        </div>
                                                        <div class="byline module__byline">
                                                            <ul class="authors module__authors">
                                                                <li><span class="display-name">by: Chiamaka / </span></li>
                                                            </ul>
                                                            <time class="pub-date module_pub-date" datetime="" title="">
                                                                January 16 2020
                                                            </time>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="second-tier module-row">
                                            <div class="feature-module module module-with-abstract">
                                                <div class="module_img module__visual">
                                                    <a href="#" class="image-link">
                                                        <span class="sr-only">A short message that displays module title</span>
                                                        <img class="module_image"  src="../assets/images/feature-modules/drill-wide-still.jpg" alt="">
                                                        <div class="overlay"></div>
                                                    </a>
                                                    <a href="#" class="type">Rising</a>
                                                </div>
                                                <div class="article-details module__article-details">
                                                    <a href="#" class="title-link module__title-link">
                                                        <h2 class="module__title">
                                                            Talking beyond Buzz Words
                                                        </h2>
                                                    </a>
                                                    <div class="abstract module__abstract">
                                                        <p>The race against time when we cant stop and we find ourselves running through the red lights</p>
                                                    </div>
                                                    <div class="module__meta meta">
                                                        <div class="bylne module__byline">
                                                            <ul class="authors module__authors">
                                                                <li><span class="display-name">
                                                                    by: Oluchi Gramesz /
                                                                </span></li>
                                                            </ul>
                                                        </div>
                                                        <p class="date feature-module__date">
                                                            <time class="pub-date" datetime="" title="">
                                                                january 15 2020
                                                            </time>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="module__highlights"></div>
                                            </div>

                                            {% for feature in site.categories.Feature %}
                                            <div class="feature-module module module-with-abstract">
                                                <div class="module_img module__visual">
                                                    <a href="{{ site.url}}{{ feature.url }}" class="image-link">
                                                        <span class="sr-only">A short message that displays module title</span>
                                                        <img class="module_image"  src="../assets/images/feature-modules/pitchforkpplheader.jpg" alt="">
                                                        <div class="overlay"></div>
                                                    </a>
                                                    <a href="#" class="type">Rising</a>
                                                </div>
                                                <div class="article-details module__article-details">
                                                    <a href="{{ site.url}}{{ feature.url }}" class="title-link module__title-link">
                                                        <h2 class="module__title">
                                                            Talking beyond Buzz Words
                                                        </h2>
                                                    </a>
                                                    <div class="abstract module__abstract">
                                                        <p>The race against time when we cant stop and we find ourselves running through the red lights</p>
                                                    </div>
                                                    <div class="module__meta meta">
                                                        <div class="bylne module__byline">
                                                            <ul class="authors module__authors">
                                                                <li><span class="display-name">
                                                                    by: Oluchi Gramesz /
                                                                </span></li>
                                                            </ul>
                                                        </div>
                                                        <p class="date feature-module__date">
                                                            <time class="pub-date" datetime="" title="">
                                                                january 15 2020
                                                            </time>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="module__highlights"></div>
                                            </div>

                                            {% endfor %}

                                            <div class="feature-module module module-with-abstract">
                                                <div class="module_img module__visual">
                                                    <a href="#" class="image-link">
                                                        <span class="sr-only">A short message that displays module title</span>
                                                        <img class="module_image"  src="../assets/images/feature-modules/Music-Festival-Wristbands.jpg" alt="">
                                                        <div class="overlay"></div>
                                                    </a>
                                                    <a href="#" class="type">Rising</a>
                                                </div>
                                                <div class="article-details module__article-details">
                                                    <a href="#" class="title-link module__title-link">
                                                        <h2 class="module__title">
                                                            Talking beyond Buzz Words
                                                        </h2>
                                                    </a>
                                                    <div class="abstract module__abstract">
                                                        <p>The race against time when we cant stop and we find ourselves running through the red lights</p>
                                                    </div>
                                                    <div class="module__meta meta">
                                                        <div class="bylne module__byline">
                                                            <ul class="authors module__authors">
                                                                <li><span class="display-name">
                                                                    by: Oluchi Gramesz /
                                                                </span></li>
                                                            </ul>
                                                        </div>
                                                        <p class="date feature-module__date">
                                                            <time class="pub-date" datetime="" title="">
                                                                january 15 2020
                                                            </time>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="module__highlights"></div>
                                            </div>



                                        </div>
                                    </div>
                                    <div class="third-tier compact-list">
                                        <div class="infinite-container">
                                            <div class="clerarfix">
                                                <div class="features-fragment">
                                                    <div class="container-fluid">
                                                        <div class="feature-module module">
                                                            <div class="module_img module__visual">
                                                                <a href="#" class="image-link">
                                                                    <span class="sr-only">A short message that displays module title</span>
                                                                    <img class="module_image"  src="../assets/images/feature-modules/1Kanye.jpg" alt="">
                                                                    <div class="overlay"></div>
                                                                </a>
                                                                <a href="#" class="type">Rising</a>
                                                            </div>
                                                            <div class="article-details module__article-details">
                                                                <a href="#" class="title-link module__title-link">
                                                                    <h2 class="module__title">
                                                                        Talking beyond Buzz Words
                                                                    </h2>
                                                                </a>
                                                                <div class="module__meta meta">
                                                                    <div class="bylne module__byline">
                                                                        <ul class="authors module__authors">
                                                                            <li><span class="display-name">
                                                                                by: Oluchi Gramesz /
                                                                            </span></li>
                                                                        </ul>
                                                                    </div>
                                                                    <p class="date feature-module__date">
                                                                        <time class="pub-date" datetime="" title="">
                                                                            january 15 2020
                                                                        </time>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="highlight"></div>
                                                        </div>
                                                        
                                                        <div class="feature-module module">
                                                            <div class="module_img module__visual">
                                                                <a href="#" class="image-link">
                                                                    <span class="sr-only">A short message that displays module title</span>
                                                                    <img class="module_image"  src="../assets/images/feature-modules/future.jpg" alt="">
                                                                    <div class="overlay"></div>
                                                                </a>
                                                                <a href="#" class="type">Rising</a>
                                                            </div>
                                                            <div class="article-details module__article-details">
                                                                <a href="#" class="title-link module__title-link">
                                                                    <h2 class="module__title">
                                                                        Talking beyond Buzz Words
                                                                    </h2>
                                                                </a>
                                                                <div class="module__meta meta">
                                                                    <div class="bylne module__byline">
                                                                        <ul class="authors module__authors">
                                                                            <li><span class="display-name">
                                                                                by: Oluchi Gramesz /
                                                                            </span></li>
                                                                        </ul>
                                                                    </div>
                                                                    <p class="date feature-module__date">
                                                                        <time class="pub-date" datetime="" title="">
                                                                            january 15 2020
                                                                        </time>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="highlight"></div>
                                                        </div>

                                                        <div class="feature-module module">
                                                            <div class="module_img module__visual">
                                                                <a href="#" class="image-link">
                                                                    <span class="sr-only">A short message that displays module title</span>
                                                                    <img class="module_image"  src="../assets/images/feature-modules/Priests.jpg" alt="">
                                                                    <div class="overlay"></div>
                                                                </a>
                                                                <a href="#" class="type">Rising</a>
                                                            </div>
                                                            <div class="article-details module__article-details">
                                                                <a href="#" class="title-link module__title-link">
                                                                    <h2 class="module__title">
                                                                        Talking beyond Buzz Words
                                                                    </h2>
                                                                </a>
                                                                <div class="module__meta meta">
                                                                    <div class="bylne module__byline">
                                                                        <ul class="authors module__authors">
                                                                            <li><span class="display-name">
                                                                                by: Oluchi Gramesz /
                                                                            </span></li>
                                                                        </ul>
                                                                    </div>
                                                                    <p class="date feature-module__date">
                                                                        <time class="pub-date" datetime="" title="">
                                                                            january 15 2020
                                                                        </time>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="highlight"></div>
                                                        </div>

                                                        <div class="feature-module module">
                                                            <div class="module_img module__visual">
                                                                <a href="#" class="image-link">
                                                                    <span class="sr-only">A short message that displays module title</span>
                                                                    <img class="module_image"  src="../assets/images/feature-modules/NewPinegroveHeader.jpg" alt="">
                                                                    <div class="overlay"></div>
                                                                </a>
                                                                <a href="#" class="type">Rising</a>
                                                            </div>
                                                            <div class="article-details module__article-details">
                                                                <a href="#" class="title-link module__title-link">
                                                                    <h2 class="module__title">
                                                                        Talking beyond Buzz Words
                                                                    </h2>
                                                                </a>
                                                                <div class="module__meta meta">
                                                                    <div class="bylne module__byline">
                                                                        <ul class="authors module__authors">
                                                                            <li><span class="display-name">
                                                                                by: Oluchi Gramesz /
                                                                            </span></li>
                                                                        </ul>
                                                                    </div>
                                                                    <p class="date feature-module__date">
                                                                        <time class="pub-date" datetime="" title="">
                                                                            january 15 2020
                                                                        </time>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="highlight"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="scroll-boundary"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
               
               
               
               
                </div>    
            </div>
        </main>




    {% include footer.html %}
   </div>
   {% include mobi-footer.html %}
   <script src="../assets/js/hamburger.js "></script>
   <script src="../assets/js/horizontal-mod.js "></script>
</body>
</html>