---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <div id="main">
        {% include nav.html %}

        <main id="site-content">
            <div class="homepage">
                <div class="inner-site-container container">
                    <div class="row module-row">
                        <div class="main-page-area _82ef4">
                            <div id="section" class="section-padding main-page-header">
                                <figure class="img-module--container">
                                    <picture class="img img-banner artdirection">
                                        <source media="(max-width: 26.524em)" srcset="">
                                            <img src="{{ site.baseurl }}/assets/images/banner-1.png" alt="" class="module--image-box"
                                            srcset="{{ site.baseurl}}/assets/images/banner-small.jpg 300w">
                                    </picture>
                                    <figcaption class="banner-img-caption">
                                        <a href="#">*Long John Addidas</a>
                                    </figcaption>
                                </figure>
                                <h1 class="title">Good Morning Folks!</h1>                                
                            </div>
                            <section id="section" class="main-page-posts section-padding">
                                <ul class="main-page-posts-lists">
                                    <li class="post-module inner-section-padding">
                                        <a href="#" class="post-module-content">
                                            <figure>
                                                <picture class="artdirection--123">
                                                  <img src="{{ site.baseurl }}/assets/images/img-3a.jpg" srcset="{{ site.baseurl}}/assets/images/img-3a-small.webp 300w" alt="a white man passport" class="img img-thumbnail sm-img-module">  
                                                </picture>
                                            </figure>                                        
                                            <div class="post-module-summary">
                                                <h4 class="title post-module--title"> <strong>The tragedy how the great Isu Kingdom was divided</strong></h4>
                                                <div class="post-module--excerpt">
                                                    <p class="para-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur.</p>
                                                    <p class="para-source"><span>Pulse Naija<svg class="external-link" aria-label="external link" width="8" height="8" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 8.25a.75.75 0 0 0-.75.75v1.5h-9v-9H3A.75.75 0 0 0 3 0H1.5A1.504 1.504 0 0 0 0 1.5v9A1.504 1.504 0 0 0 1.5 12h9a1.504 1.504 0 0 0 1.5-1.5V9a.75.75 0 0 0-.75-.75zm.745-7.527a.766.766 0 0 0-.052-.26c0-.007-.008-.012-.011-.018a.728.728 0 0 0-.348-.356.75.75 0 0 0-.335-.09L7.501.001a.75.75 0 0 0 0 1.5h1.94L3.97 6.97a.75.75 0 1 0 1.06 1.06l5.47-5.47V4.5a.75.75 0 1 0 1.5 0V.75c0-.01-.005-.018-.005-.027z" fill-rule="evenodd" fill="var(--color,#000)"></path></svg></span></p>
                                                </div>                                                
                                            </div>
                                        </a>
                                    </li>

                                    <li class="post-module inner-section-padding">
                                        <a href="#" class="post-module-content">
                                            <!-- <figure>
                                                <picture class="artdirection--123">
                                                  <img src="../assets/images/img-3a.jpg" alt="a white man passport" class="img img-thumbnail sm-img-module">  
                                                </picture>
                                            </figure>                                         -->
                                            <div class="post-module-summary">
                                                <h4 class="title post-module--title"> <strong>The tragedy how the great Isu Kingdom was divided</strong></h4>
                                                <div class="post-module--excerpt">
                                                    <p class="para-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur.</p>
                                                    <p class="para-source"><span>Pulse Naija<svg class="external-link" aria-label="external link" width="8" height="8" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 8.25a.75.75 0 0 0-.75.75v1.5h-9v-9H3A.75.75 0 0 0 3 0H1.5A1.504 1.504 0 0 0 0 1.5v9A1.504 1.504 0 0 0 1.5 12h9a1.504 1.504 0 0 0 1.5-1.5V9a.75.75 0 0 0-.75-.75zm.745-7.527a.766.766 0 0 0-.052-.26c0-.007-.008-.012-.011-.018a.728.728 0 0 0-.348-.356.75.75 0 0 0-.335-.09L7.501.001a.75.75 0 0 0 0 1.5h1.94L3.97 6.97a.75.75 0 1 0 1.06 1.06l5.47-5.47V4.5a.75.75 0 1 0 1.5 0V.75c0-.01-.005-.018-.005-.027z" fill-rule="evenodd" fill="var(--color,#000)"></path></svg></span></p>
                                                </div>                                                
                                            </div>
                                        </a>
                                    </li>

                                    <li class="post-module inner-section-padding">
                                        <a href="#" class="post-module-content">
                                            <!-- <figure>
                                                <picture class="artdirection--123">
                                                  <img src="../assets/images/img-3a.jpg" alt="a white man passport" class="img img-thumbnail sm-img-module">  
                                                </picture>
                                            </figure>                                         -->
                                            <div class="post-module-summary">
                                                <h4 class="title post-module--title"> <strong>The tragedy how the great Isu Kingdom was divided</strong></h4>
                                                <div class="post-module--excerpt">
                                                    <p class="para-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur.</p>
                                                    <p class="para-source"><span>Pulse Naija<svg class="external-link" aria-label="external link" width="8" height="8" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 8.25a.75.75 0 0 0-.75.75v1.5h-9v-9H3A.75.75 0 0 0 3 0H1.5A1.504 1.504 0 0 0 0 1.5v9A1.504 1.504 0 0 0 1.5 12h9a1.504 1.504 0 0 0 1.5-1.5V9a.75.75 0 0 0-.75-.75zm.745-7.527a.766.766 0 0 0-.052-.26c0-.007-.008-.012-.011-.018a.728.728 0 0 0-.348-.356.75.75 0 0 0-.335-.09L7.501.001a.75.75 0 0 0 0 1.5h1.94L3.97 6.97a.75.75 0 1 0 1.06 1.06l5.47-5.47V4.5a.75.75 0 1 0 1.5 0V.75c0-.01-.005-.018-.005-.027z" fill-rule="evenodd" fill="var(--color,#000)"></path></svg></span></p>
                                                </div>                                                
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </section>
                            <!-- FEATURED -->
                            <section id="section" class="main-page-posts featured-post-padding feature-z">
                                <h3 class="section-title section-header">Featured Articles</h3>
                                <ul class="main-page-posts-lists">
                                    <li class="post-module inner-section-padding">
                                        <div class="featured-lists">
                                            {% assign featureCollection = site.feature | sort: 'date' | reverse %}
                                            {% for feature in featureCollection limit: 5  %}
                                            <div class="featured-item featured-card feature-z">
                                                <div class="image module--visual">
                                                    <a href="{{ site.baseurl }}{{ feature.url }}">
                                                        <figure>
                                                            <picture class="artdirection--123">
                                                                <noscript><img src="{{ site.url}}/{{ site.image-path }}{{ feature.images.path}}" srcset="" alt=" {{ feature.images.caption }} " title="{{ feature.images.caption }}" class="img featured-image"></noscript>
                                                                <img data-expand="-60" data-src="{{ site.url}}/{{ site.image-path }}{{ feature.images.path}}" srcset="" alt=" {{ feature.images.caption }} " title="{{ feature.images.caption }}" class="img featured-image blur-up lazyload"> 
                                                            </picture>
                                                        </figure>
                                                    </a>     
                                                </div>
                                                <div class="fetured-details">
                                                    <h4 class="video-tag">{{ feature.tags[0] }}</h4>
                                                    <a href="{{ site.baseurl }}{{ feature.url }}" class="featured-title-link fetured-link">
                                                        <h2 class="featured-title title">{{ feature.title }}</h2>
                                                    </a>
                                                    <time class="pub-date" datetime="{{ feature.date | date_to_xmlschema  }}" title="{{ gallery.date-title }}">
                                                        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
                                                        {{ feature.date | timeago }}
                                                    </time>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                    
                                </ul>
                            </section>
                            <section id="section" class="main-page-posts section-padding">
                                <h3 class="section-header">Life inside a mainframe computer</h3>
                                <ul class="main-page-posts-lists">
                                    <li class="post-module inner-section-padding">
                                        <a href="#" class="post-module-content">
                                            <figure>
                                                <picture class="artdirection--123">
                                                  <img src="../assets/images/img-3a.jpg" alt="a white man passport" class="img img-thumbnail sm-img-module">  
                                                </picture>
                                            </figure>                                        
                                            <div class="post-module-summary">
                                                <h4 class="title post-module--title"> <strong>The tragedy how the great Isu Kingdom was divided</strong></h4>
                                                <div class="post-module--excerpt">
                                                    <p class="para-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur.</p>
                                                    <p class="para-source"><span>Pulse Naija<svg class="external-link" aria-label="external link" width="8" height="8" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 8.25a.75.75 0 0 0-.75.75v1.5h-9v-9H3A.75.75 0 0 0 3 0H1.5A1.504 1.504 0 0 0 0 1.5v9A1.504 1.504 0 0 0 1.5 12h9a1.504 1.504 0 0 0 1.5-1.5V9a.75.75 0 0 0-.75-.75zm.745-7.527a.766.766 0 0 0-.052-.26c0-.007-.008-.012-.011-.018a.728.728 0 0 0-.348-.356.75.75 0 0 0-.335-.09L7.501.001a.75.75 0 0 0 0 1.5h1.94L3.97 6.97a.75.75 0 1 0 1.06 1.06l5.47-5.47V4.5a.75.75 0 1 0 1.5 0V.75c0-.01-.005-.018-.005-.027z" fill-rule="evenodd" fill="var(--color,#000)"></path></svg></span></p>
                                                </div>                                                
                                            </div>
                                        </a>
                                    </li>

                                    <li class="post-module inner-section-padding">
                                        <a href="#" class="post-module-content">
                                            <figure>
                                                <picture class="artdirection--123">
                                                  <img src="../assets/images/img-3a.jpg" alt="a white man passport" class="img img-thumbnail sm-img-module">  
                                                </picture>
                                            </figure>                                        
                                            <div class="post-module-summary">
                                                <h4 class="title post-module--title"> <strong>The tragedy how the great Isu Kingdom was divided</strong></h4>
                                                <div class="post-module--excerpt">
                                                    <p class="para-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur.</p>
                                                    <p class="para-source"><span>Pulse Naija<svg class="external-link" aria-label="external link" width="8" height="8" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 8.25a.75.75 0 0 0-.75.75v1.5h-9v-9H3A.75.75 0 0 0 3 0H1.5A1.504 1.504 0 0 0 0 1.5v9A1.504 1.504 0 0 0 1.5 12h9a1.504 1.504 0 0 0 1.5-1.5V9a.75.75 0 0 0-.75-.75zm.745-7.527a.766.766 0 0 0-.052-.26c0-.007-.008-.012-.011-.018a.728.728 0 0 0-.348-.356.75.75 0 0 0-.335-.09L7.501.001a.75.75 0 0 0 0 1.5h1.94L3.97 6.97a.75.75 0 1 0 1.06 1.06l5.47-5.47V4.5a.75.75 0 1 0 1.5 0V.75c0-.01-.005-.018-.005-.027z" fill-rule="evenodd" fill="var(--color,#000)"></path></svg></span></p>
                                                </div>                                                
                                            </div>
                                        </a>
                                    </li>

                                    <li class="post-module inner-section-padding">
                                        <a href="#" class="post-module-content">
                                            <figure>
                                                <picture class="artdirection--123">
                                                  <img src="../assets/images/img-3a.jpg" alt="a white man passport" class="img img-thumbnail sm-img-module">  
                                                </picture>
                                            </figure>                                        
                                            <div class="post-module-summary">
                                                <h4 class="title post-module--title"> <strong>The tragedy how the great Isu Kingdom was divided</strong></h4>
                                                <div class="post-module--excerpt">
                                                    <p class="para-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur.</p>
                                                    <p class="para-source"><span>Pulse Naija<svg class="external-link" aria-label="external link" width="8" height="8" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 8.25a.75.75 0 0 0-.75.75v1.5h-9v-9H3A.75.75 0 0 0 3 0H1.5A1.504 1.504 0 0 0 0 1.5v9A1.504 1.504 0 0 0 1.5 12h9a1.504 1.504 0 0 0 1.5-1.5V9a.75.75 0 0 0-.75-.75zm.745-7.527a.766.766 0 0 0-.052-.26c0-.007-.008-.012-.011-.018a.728.728 0 0 0-.348-.356.75.75 0 0 0-.335-.09L7.501.001a.75.75 0 0 0 0 1.5h1.94L3.97 6.97a.75.75 0 1 0 1.06 1.06l5.47-5.47V4.5a.75.75 0 1 0 1.5 0V.75c0-.01-.005-.018-.005-.027z" fill-rule="evenodd" fill="var(--color,#000)"></path></svg></span></p>
                                                </div>                                                
                                            </div>
                                        </a>
                                    </li>

                                    <li class="post-module inner-section-padding">
                                        <a href="#" class="post-module-content">
                                            <figure>
                                                <picture class="artdirection--123">
                                                  <img src="../assets/images/img-3a.jpg" alt="a white man passport" class="img img-thumbnail sm-img-module">  
                                                </picture>
                                            </figure>                                        
                                            <div class="post-module-summary">
                                                <h4 class="title post-module--title"> <strong>The tragedy how the great Isu Kingdom was divided</strong></h4>
                                                <div class="post-module--excerpt">
                                                    <p class="para-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur.</p>
                                                    <p class="para-source"><span>Pulse Naija<svg class="external-link" aria-label="external link" width="8" height="8" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 8.25a.75.75 0 0 0-.75.75v1.5h-9v-9H3A.75.75 0 0 0 3 0H1.5A1.504 1.504 0 0 0 0 1.5v9A1.504 1.504 0 0 0 1.5 12h9a1.504 1.504 0 0 0 1.5-1.5V9a.75.75 0 0 0-.75-.75zm.745-7.527a.766.766 0 0 0-.052-.26c0-.007-.008-.012-.011-.018a.728.728 0 0 0-.348-.356.75.75 0 0 0-.335-.09L7.501.001a.75.75 0 0 0 0 1.5h1.94L3.97 6.97a.75.75 0 1 0 1.06 1.06l5.47-5.47V4.5a.75.75 0 1 0 1.5 0V.75c0-.01-.005-.018-.005-.027z" fill-rule="evenodd" fill="var(--color,#000)"></path></svg></span></p>
                                                </div>                                                
                                            </div>
                                        </a>
                                    </li>

                                    <li class="post-module inner-section-padding">
                                        <a href="#" class="post-module-content">
                                            <figure>
                                                <picture class="artdirection--123">
                                                  <img src="../assets/images/img-3a.jpg" alt="a white man passport" class="img img-thumbnail sm-img-module">  
                                                </picture>
                                            </figure>                                        
                                            <div class="post-module-summary">
                                                <h4 class="title post-module--title"> <strong>The tragedy how the great Isu Kingdom was divided</strong></h4>
                                                <div class="post-module--excerpt">
                                                    <p class="para-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur.</p>
                                                    <p class="para-source"><span>Pulse Naija<svg class="external-link" aria-label="external link" width="8" height="8" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 8.25a.75.75 0 0 0-.75.75v1.5h-9v-9H3A.75.75 0 0 0 3 0H1.5A1.504 1.504 0 0 0 0 1.5v9A1.504 1.504 0 0 0 1.5 12h9a1.504 1.504 0 0 0 1.5-1.5V9a.75.75 0 0 0-.75-.75zm.745-7.527a.766.766 0 0 0-.052-.26c0-.007-.008-.012-.011-.018a.728.728 0 0 0-.348-.356.75.75 0 0 0-.335-.09L7.501.001a.75.75 0 0 0 0 1.5h1.94L3.97 6.97a.75.75 0 1 0 1.06 1.06l5.47-5.47V4.5a.75.75 0 1 0 1.5 0V.75c0-.01-.005-.018-.005-.027z" fill-rule="evenodd" fill="var(--color,#000)"></path></svg></span></p>
                                                </div>                                                
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </section> 
                            <!-- VIDEO  -->
                            <section id="section" class="main-page-posts featured-post-padding video-z">
                                <h3 class="section-title section-header">Videos</h3>
                                <ul class="main-page-posts-lists">
                                    <li class="post-module inner-section-padding">
                                        <div class="featured-lists">
                                            {% for video in site.gallery %}
                                            <div class="featured-item featured-card featured-video">
                                                <div class="image module--visual">
                                                    <a href="#">
                                                    <i class="fa fa-play-circle"></i>
                                                    </a>
                                                        <figure>
                                                            <picture class="artdirection--123">
                                                            <img src="{{site.baseurl}}{{ video.image-path}}{{ video.cover-image }}" alt="a white man passport" class="img featured-image">  
                                                            </picture>
                                                        </figure>     
                                                </div>
                                                <div class="fetured-details">
                                                    <h4 class="video-tag">{{ video. tags }}</h4>
                                                    <a href="" class="featured-title-link fetured-link">
                                                        <h2 class="featured-title title">{{ video.title }}</h2>
                                                    </a>
                                                    
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                            </section>                             
                            <section id="section" class="main-page-posts section-padding">
                                <h3 class="section-header">The NIgerian Racism</h3>
                                <ul class="main-page-posts-lists">
                                    <li class="post-module inner-section-padding">
                                        <a href="#" class="post-module-content">
                                            <figure>
                                                <picture class="artdirection--123">
                                                  <img src="../assets/images/img-3a.jpg" alt="a white man passport" class="img img-thumbnail sm-img-module">  
                                                </picture>
                                            </figure>                                        
                                            <div class="post-module-summary">
                                                <h4 class="title post-module--title"> <strong>The tragedy how the great Isu Kingdom was divided</strong></h4>
                                                <div class="post-module--excerpt">
                                                    <p class="para-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur.</p>
                                                    <p class="para-source"><span>Pulse Naija<svg class="external-link" aria-label="external link" width="8" height="8" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 8.25a.75.75 0 0 0-.75.75v1.5h-9v-9H3A.75.75 0 0 0 3 0H1.5A1.504 1.504 0 0 0 0 1.5v9A1.504 1.504 0 0 0 1.5 12h9a1.504 1.504 0 0 0 1.5-1.5V9a.75.75 0 0 0-.75-.75zm.745-7.527a.766.766 0 0 0-.052-.26c0-.007-.008-.012-.011-.018a.728.728 0 0 0-.348-.356.75.75 0 0 0-.335-.09L7.501.001a.75.75 0 0 0 0 1.5h1.94L3.97 6.97a.75.75 0 1 0 1.06 1.06l5.47-5.47V4.5a.75.75 0 1 0 1.5 0V.75c0-.01-.005-.018-.005-.027z" fill-rule="evenodd" fill="var(--color,#000)"></path></svg></span></p>
                                                </div>                                                
                                            </div>
                                        </a>
                                    </li>

                                    <li class="post-module inner-section-padding">
                                        <a href="#" class="post-module-content">                                      
                                            <div class="post-module-summary">
                                                <h4 class="title post-module--title"> <strong>The tragedy how the great Isu Kingdom was divided</strong></h4>
                                                <div class="post-module--excerpt">
                                                    <p class="para-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur.</p>
                                                    <p class="para-source"><span>Pulse Naija<svg class="external-link" aria-label="external link" width="8" height="8" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 8.25a.75.75 0 0 0-.75.75v1.5h-9v-9H3A.75.75 0 0 0 3 0H1.5A1.504 1.504 0 0 0 0 1.5v9A1.504 1.504 0 0 0 1.5 12h9a1.504 1.504 0 0 0 1.5-1.5V9a.75.75 0 0 0-.75-.75zm.745-7.527a.766.766 0 0 0-.052-.26c0-.007-.008-.012-.011-.018a.728.728 0 0 0-.348-.356.75.75 0 0 0-.335-.09L7.501.001a.75.75 0 0 0 0 1.5h1.94L3.97 6.97a.75.75 0 1 0 1.06 1.06l5.47-5.47V4.5a.75.75 0 1 0 1.5 0V.75c0-.01-.005-.018-.005-.027z" fill-rule="evenodd" fill="var(--color,#000)"></path></svg></span></p>
                                                </div>                                                
                                            </div>
                                        </a>
                                    </li>

                                    <li class="post-module inner-section-padding">
                                        <a href="#" class="post-module-content">                                      
                                            <div class="post-module-summary">
                                                <h4 class="title post-module--title"> <strong>The tragedy how the great Isu Kingdom was divided</strong></h4>
                                                <div class="post-module--excerpt">
                                                    <p class="para-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur.</p>
                                                    <p class="para-source"><span>Pulse Naija<svg class="external-link" aria-label="external link" width="8" height="8" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 8.25a.75.75 0 0 0-.75.75v1.5h-9v-9H3A.75.75 0 0 0 3 0H1.5A1.504 1.504 0 0 0 0 1.5v9A1.504 1.504 0 0 0 1.5 12h9a1.504 1.504 0 0 0 1.5-1.5V9a.75.75 0 0 0-.75-.75zm.745-7.527a.766.766 0 0 0-.052-.26c0-.007-.008-.012-.011-.018a.728.728 0 0 0-.348-.356.75.75 0 0 0-.335-.09L7.501.001a.75.75 0 0 0 0 1.5h1.94L3.97 6.97a.75.75 0 1 0 1.06 1.06l5.47-5.47V4.5a.75.75 0 1 0 1.5 0V.75c0-.01-.005-.018-.005-.027z" fill-rule="evenodd" fill="var(--color,#000)"></path></svg></span></p>
                                                </div>                                                
                                            </div>
                                        </a>
                                    </li>

                                    <li class="post-module inner-section-padding">
                                        <a href="#" class="post-module-content">                                        
                                            <div class="post-module-summary">
                                                <h4 class="title post-module--title"> <strong>The tragedy how the great Isu Kingdom was divided</strong></h4>
                                                <div class="post-module--excerpt">
                                                    <p class="para-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur.</p>
                                                    <p class="para-source"><span>Pulse Naija<svg class="external-link" aria-label="external link" width="8" height="8" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 8.25a.75.75 0 0 0-.75.75v1.5h-9v-9H3A.75.75 0 0 0 3 0H1.5A1.504 1.504 0 0 0 0 1.5v9A1.504 1.504 0 0 0 1.5 12h9a1.504 1.504 0 0 0 1.5-1.5V9a.75.75 0 0 0-.75-.75zm.745-7.527a.766.766 0 0 0-.052-.26c0-.007-.008-.012-.011-.018a.728.728 0 0 0-.348-.356.75.75 0 0 0-.335-.09L7.501.001a.75.75 0 0 0 0 1.5h1.94L3.97 6.97a.75.75 0 1 0 1.06 1.06l5.47-5.47V4.5a.75.75 0 1 0 1.5 0V.75c0-.01-.005-.018-.005-.027z" fill-rule="evenodd" fill="var(--color,#000)"></path></svg></span></p>
                                                </div>                                                
                                            </div>
                                        </a>
                                    </li>

                                    <li class="post-module inner-section-padding">
                                        <a href="#" class="post-module-content">                                       
                                            <div class="post-module-summary">
                                                <h4 class="title post-module--title"> <strong>The tragedy how the great Isu Kingdom was divided</strong></h4>
                                                <div class="post-module--excerpt">
                                                    <p class="para-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt mollitia totam possimus dolore pariatur.</p>
                                                    <p class="para-source"><span>Pulse Naija<svg class="external-link" aria-label="external link" width="8" height="8" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 8.25a.75.75 0 0 0-.75.75v1.5h-9v-9H3A.75.75 0 0 0 3 0H1.5A1.504 1.504 0 0 0 0 1.5v9A1.504 1.504 0 0 0 1.5 12h9a1.504 1.504 0 0 0 1.5-1.5V9a.75.75 0 0 0-.75-.75zm.745-7.527a.766.766 0 0 0-.052-.26c0-.007-.008-.012-.011-.018a.728.728 0 0 0-.348-.356.75.75 0 0 0-.335-.09L7.501.001a.75.75 0 0 0 0 1.5h1.94L3.97 6.97a.75.75 0 1 0 1.06 1.06l5.47-5.47V4.5a.75.75 0 1 0 1.5 0V.75c0-.01-.005-.018-.005-.027z" fill-rule="evenodd" fill="var(--color,#000)"></path></svg></span></p>
                                                </div>                                                
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </section> 
                     
                        </div>
                        <div class="latest-page">
                            <div class="latest-title title">
                                <h2><a href="/" class="title-link">Latest News From Home</a></h2>
                            </div>
                            <ul class="latest-list">
                            {% for latest in site.posts limit: 10 %}
                                <li class="mb-5">
                                    <a href="{{ site.baseurl}}{{ latest.url}}">
                                        <div class="latest-module-content">
                                            <div class="latest-img pos-rel bd-ovf" style="padding-bottom: 56.38888888888888886%;">
                                                <img data-src="{{ site.url}}/{{ site.image-path }}{{ latest.images.path}}" data-expand="-110" srcset="" alt=" {{ latest.images.caption }} " class=" blur-up lazyload">
                                            </div>
                                            <section class="latest-module-detail">
                                                <h4>{{ latest.title }}</h4>
                                                <div class="latest-byline">
                                                    <div class="author">
                                                        <p class="mb-0 author-name">by:  {{ latest.author }} /</p> 
                                                        <div class="cat">{{ latest.type }}</div>
                                                    </div>
                                                    <div class="site-name">{{ latest.publisher }}</div>
                                                </div>
                                            </section>                
                                        </div>  
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                            <button class="more">
                                <a href="{{ site.baseurl }}/latest">More news</a>
                            </button>
                        </div>                        
                    </div>
                </div>
            </div>
        </main>
        {% include footer.html %}
    </div>
    {% include mobi-footer.html %}
    <script src="{{ site.baseurl }}/assets/js/hamburger.js "></script>
    <script src="{{ site.baseurl }}/assets/js/Vendor/lazysizes.min.js"></script>
</body>
</html>