---
layout: compress
title: Latest stories
paginator: 10
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}

    <!-- <style>
        .infinite-spinner{
            opacity: 0;
        }
        .infinite-spinner.show{
            opacity: 1;
        }
    </style> -->
</head>
<body>
   <div id="main">
       <div class="div-wrapper">
        {% include nav.html %}   
       </div>
        <main id="site-content">
            <div class="homepage">
                <div class="inner-site-container">
                    <div class="site-title">
                        <div class="title title-container">
                            <h1>Latest stories</h1>
                            <p class="site-title-para"></p>
                        </div>
                    </div>
                    <div class="article-container">
                        <div class="container">
                            {% if paginator.page %}
                                {% assign offset = paginator.page | minus:1 | times:paginator.per_page %}
                                {% assign currentPage = paginator.page %}
                            {% else %}
                                {% assign offset = 0 %}
                                {% assign currentPage = 1 %}
                            {% endif %}

                            <div id="article-container" class="article-inner-container" data-page="{{ currentPage }}" data-totalPages="{{ paginator.total_pages }}">
                            {% for latest in site.posts limit:site.paginate offset:offset %}
                            
                                <article class="article-details context-list article-summary">
                                    <div class="sub-article-details context-list">
                                        <a href="{{ site.baseurl }}{{ latest.url }}" class="article-link">
                                            <figure class="article-figure size-medium">
                                                <div class=" visible pb-cent article-img-box">
                                                    <img src="{{ site.baseurl}}/{{ latest.image-path}}/{{ latest.image }}" srcset="" alt=" {{ latest.image-alt }} ">
                                                </div>
                                            </figure>
                                            <div class="article-meta local">
                                                <div class="article-context meta-details">
                                                    <span>{{ latest.location }}</span>
                                                    <address class="feed_item-author">
                                                        <span class="article-spacer">|</span>
                                                        <div class="author">By {{ latest.author }}</div>
                                                    </address>
                                                </div>
                                                <h3>{{ latest.title }}</h3>
                                                <div class="site-name"><span>{{ latest.publisher }}</span></div>
                                                <div class="article-info">
                                                    <div class="author">By {{ latest.author }}</div>
                                                    <div class="cat">
                                                        <span>{{ latest.category}} / </span>
                                                        <span class="date">{{ latest.date-custom }}</span>
                                                    </div> 
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                {% endfor %}
                            </div> 
                                {% assign postCount = site.posts | size %}
                                {% assign postsCovered = site.paginate | plus:offset %}
                                {% if postsCovered < postCount %}
                                  <button class="loadMore">Load more posts</button>
                                {% endif %}


                            <div class="article-inner-container article-inner-container-observe post-list">
                                {% for post in site.posts limit: 5 %}
                                
                                {% endfor %}
                            </div>
                        </div>
                        <!-- <div class="infinite-spinner"></div> -->
                    </div>
                </div>
            </div>
        </main>
        <!-- <div class="infinite-spinner"></div> -->
       {% include footer.html %}
   </div>
   {% include mobi-footer.html %}
   <script src="{{ site.baseurl }}/assets/js/hamburger.js "></script>
   <script src="{{ site.baseurl }}/assets/js/jquery-3.5.1.min.js "></script>
   <!-- <script src="{{ site.baseurl }}/assets/js/Vendor/infinite-jekyll.js "></script> -->
   <script src="{{ site.baseurl }}/assets/js/custom-infinite-scroll.js "></script> 
   <!-- <script src="{{ site.baseurl }}/assets/js/Vendor/InfiniteScroll.js "></script>
   <script>
        var postWrapperId = 'article-container';
        var paginatePath = '/np.io/latest/page';
        new InfiniteScroll(paginatePath, postWrapperId);
    </script> -->
</body>

</html>