---
layout: default
title: Gallery
---

<div class="inner-site-container">
    <!-- <header class="page-intro">
        
        <h1 class="page-intro--title"> Photo Gallery</h1>
        <div class="type-desc">Potriats, Live shots amd photo essays that put a torch on our world.</div>
    </header> -->

    <div id="feature-detail">
        <article id="feature-article--5334" class="ct-class-pure last-page">
            <div class="header fts-header">
                <div class="container-fluid">
                    <div class="block-div-row">
                        <div class="fts-header__intro">
                            <div class="fts-header__title-container">
                                <h1 class="fts-header__title">
                                    {{ page.title }}
                                </h1>
                            </div>
                            <div class="fts-header__abstract">
                                <p>
                                    {{ page.description}}
                                </p>
                            </div>
                        </div>
                    </div> 
                </div> 
                <div class="fts-header--visual caption-container">
                    <noscript><img src="{{ site.url}}/{{ site.image-path }}/{{ page.cover-image }}" srcset="" alt=" {{ page.images[0].title }} " title="{{ page.images[0].title }}"></noscript>
                    <!-- <img class="lazyload"  data-src="{{ site.url}}/{{ site.image-path}}/{{ page.cover-image }}" alt="{{ page.images[0].title }}" > -->
                    {% assign img = page.cover-image %}
                    {% assign caption = page.images[0].title %}
                    {% include resp-image.html  name=img srcset=img  alt=caption class="post-img" title=caption sizes="(min-width: 64em) 1600px, (min-width: 48em) 950px, (min-width: 26.5625em) 690px, 410px" %}
                    <div class="caption caption--below fts-header__caption">
                        <span>{{ page.image-label }} photo by {{ page.photographer }}</span>
                    </div>
                </div>
            </div> 

            <!-- mobile-gallery -->
            {% include gallery/mobile.html %}

            <!-- desktop-gallery -->
            {% include gallery/desktop.html %}
        </article>
    </div>

            <!-- More from Gallery -->
            {% include gallery/gallery-more.html %}
</div>


<!-- Gallery Modal -->
{% include gallery/modal.html %}

