---
layout: compress
title: Video-Gallery
---


<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <div id="main">
        <div class="div-wrapper">
         {% include nav.html %}   
        </div>
         <main id="site-content">
            <div class="homepage">
                <div class="inner-site-container">
                    <div class="containerfluid">

                    </div>
                    <div class="wrapper">
                        <!-- Header -->
                        <section class="top-section">
                            <div class="section-header">
                                <h1>Video Gallery</h1>
                                <p class="section-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vero est rem sed suscipit minus voluptatem tempore at maxime iusto.</p> 
                                <a href="../assets/videos/VID-20190225-WA0002.mp4" class="venobox" data-autoplay="true" data-vbtype="video"><button>Watch now</button></a>                              
                            </div>
                        </section>
                        
                        <section class="content-area">
                            <div class="playlist_box playlist__one">
                                <h4 class="playlist-title">Section-title</h4>
                                <div class="playlist-videos">
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/anticipated3-tweak.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                        <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/albums_mock.png);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/autotune-header-edit2.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video.</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/books3.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/anticipated3-tweak.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/Boards-of-Canada.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/future.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/metal.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/NewPinegroveHeader.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                        <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="playlist_box playlist__two">
                                <h4 class="playlist-title">Section-title</h4>
                                <div class="playlist-videos">
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/Priests.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/PhilElverumFinal.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/roisin.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/1Trance.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/1SmokinGrooves.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/Merriweather10.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/future.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/metal.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video" style="background-image: url(../assets/images/feature-modules/drill-wide-still.jpg);">
                                        <i class="fa fa-play-circle"></i>
                                                                                <div class="video-meta">
                                            <div class="video-title">
                                                <h5>This is the title of the video. this is testing for a long title from independent layouts</h5>
                                            </div>
                                            <div class="video-type">
                                                <p>interview</p>
                                                <time class="pub-date" datetime="" title="">
                                                    january 15 2020
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>  
                </div>
            </div>
        </main>
    </div>

    <script>
        $(document).ready(function(){
            $('.venobox').venobox();
        })
    </script>
</body>